<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="gisgmp_signer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <gisgmp_signer.Properties.Settings>
            <setting name="FolderIn" serializeAs="String">
                <value/>
            </setting>
            <setting name="FolderOut" serializeAs="String">
                <value/>
            </setting>
            <setting name="FolderLog" serializeAs="String">
                <value/>
            </setting>
            <setting name="FolderError" serializeAs="String">
                <value/>
            </setting>
            <setting name="DSSP" serializeAs="String">
                <value/>
            </setting>
            <setting name="DSOV" serializeAs="String">
                <value/>
            </setting>
            <setting name="CryptoProv" serializeAs="String">
                <value/>
            </setting>
        </gisgmp_signer.Properties.Settings>
    </userSettings>
</configuration>
